* {
  margin: 0;
  padding: 0;
}

.logoo {
  margin: 0px 0px 0px 200px;
}



#navbarSupportedContent {
  margin: 15px 0px 0px 10px;
  
}

#navbarSupportedContent ul {
  display: flex;
}

#navbarSupportedContent li {
  margin: 0px 20px 0px 20px;
  list-style-type: none;
}

#navbarSupportedContent a {
  text-decoration: none;
  color: black;
}

#navbarSupportedContentMobile {
  display: none;
}

.logooo {
  margin: 0px 0px 0px 250px;
}


#navbarSupportedContentt {
  margin: 15px 0px 0px 600px;
}

#navbarSupportedContentt li {
  list-style-type: none;
}

#navbarSupportedContenttMobile {
  display: none;
}

#login-bt {
  margin: 0px 0px 0px 50px;
  padding: 5px 50px 5px 50px;
  border-radius: 15px;
  border: 1px solid darkgreen;

}

#register-bt {
  padding: 5px 50px 5px 50px;
  border-radius: 15px;
  background-color: #355E3B;
  border: none;
}

.zaracho {
  display: none;

}

.download {
  margin: 160px 0px 0px 150px;
  width: 695px;
}

.welcome {
  width: 1000px;
  height: 800px;
  margin: 0px 0px 0px -500px;
}

.run-welcome {
  display: flex;
}

.individuals {
  width: 100%;
}

.how {
  margin: 50px 0px 0px 500px;
}

.howw {
  margin: 50px 0px 0px 400px;
  width: 600px;
}

.free {
  margin: 80px 0px 0px 0px;
  width: 100%;
}

.dot-get-first {
  display: flex;
  margin: 80px 0px 0px 0px;
}

.dot {
  width: 200px;
  height: 200px;
}


.get {
  width: 550px;
  height: 250px;
  margin: 250px 0px 0px -30px;
}

#inp-3{
  width: 515px;
  padding: 7px 0px 7px 10px;
  border-radius: 20px;
  margin: 20px 0px 40px 0px;
  background-color: #355E3B;
}

.imaap{
  width: 20px;
  height: 20px;
  margin: 30px 15px 10px 5px;
}

.imade{
  width: 20px;
  height:20px;
}

.first-conti{
  display: flex;
  border-top: 1px solid #E5E4E2;
  padding: 80px 0px 60px 0px;
  margin-top: 100px;

}

.first-conti h6{
  color: #818589;
  margin: 20px 0px 0px 0px ;
}

.first-conti h2{
  font-size: 18px;
}

.first-first-conti{
  margin: 0px 0px 0px 170px;
}



.second-first-conti{
  margin: 0px 0px 0px 100px;
}

.third-first-conti{
  margin: 0px 0px 0px 80px;
}


.fourth-first-conti{
  margin: 0px 0px 0px 30px;
}


.fifth-first-conti{
  margin: 0px 0px 0px 50px;
}

.inp-4{
  margin: 30px 0px 0px 3px;
  background-color: #E5E4E2;
  border: none;
  padding:5px 0px 5px 0px;
  width: 250px;
}

.teleg{
  margin: 0px 0px 0px -20px;
  border: none;
}

.dashboard-div {
  padding: 0px 0px 100px 0px;

}

.sidebar-div {
  width: 200px;
  height: 150vh;
  position: absolute;
  top: 0;
  z-index: 99;
  box-shadow: 1px 15px 20px rgba(0, 0, 0, 0.1);
}

.sideee {
  position: absolute;
  top: 30px;
  left: -30px;
}

.sidebar-div ul li {
  width: 200px;
}

.sidebar-div ul li a {
  font-size: 12px;
}

.side {
  width: 200px;
  height: 130px;
}

.sidebar-div ul {
  margin: 130px 0px 0px 0px;

}

.sidebar-div li {
  list-style-type: none;
  margin: 40px 0px 40px 0px;
  width: fit-content;

}

.sidebar-div a {
  text-decoration: none;
  width: fit-content;
  padding: 7px 20px 7px 20px;
  color: black;
  font-weight: 500;
}

.fontawesome-sidebar {
  margin: 0px 5px 0px 0px;
}

.ovrl {
  position: absolute;
  top: 100px;
  left: 200px;
  width: 1130px;
  height: 137vh;
  background-color: #faf9f6;
}

.ovrl-cont {
  width: 1000px;

}

.ovrl h1 {
  margin: 50px 0px 0px 20px;
}

.ovrl h6 {
  margin: 10px 0px 0px 20px;
  color: #787878;
}

.ovrl p {
  width: 820px;
  font-size: 15px;
  margin: 20px 0px 0px 20px;
  padding: 100px 30px 100px 30px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.1);
  color: red;
}

.first-active a.active {
  color: darkgreen;
  background-color: #faf9f6;
  padding: 10px 105px 10px 15px;
  border-left: 4px solid darkgreen;

}


.second-active a.active {
  color: darkgreen;
  background-color: #faf9f6;
  padding: 10px 30px 10px 15px;
  border-left: 4px solid darkgreen;

}

.employeecount {
  width: 1000px;
  margin: 0px 0px 0px 50px;
}

.Tab {
  width: 500px;
  margin: -100px 0px 0px 200px;
}


.employeelist {
  width: 600px;
  margin: 10px 0px 0px 100px;
}

.recent {
  margin: 10px 0px 30px 20px;
}

.searchh {
  margin: 0px 0px 100px 50px;
}

.search-dashboard {
  width: 1100px;
  margin: 0px 0px 20px 20px;
}

.searchh input {
  width: 700px;
  padding: 10px 0px 10px 10px;
  border-radius: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid gray;
}

.search-dashboard input {
  width: 900px;
  padding: 7px 0px 7px 10px;
  border-radius: 15px;
  border: 1px solid gray;
}

.search-bn {
  padding: 7px 0px 7px 10px;
  width: 100px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0px 0px 0px -100px;
  background-color: #ECFFDC;
  color: darkgreen;
  border: 1px solid gray;
}

.searchh button {
  padding: 10px 0px 10px 0px;
  width: 80px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  margin: 0px 0px 0px -50px;
  border: 1px solid gray;
}

#filter-btn {
  margin: 0px 0px 0px 30px;
  border-radius: 10px;
}


.mobile {
  display: none;
}


.eazi {
  width: 1130px;
}

.bar-sett-bell {
  display: flex;
  width: 1100px;
  padding: 5px 0px 10px 0px;
}

.bar {
  margin: 10px 0px 0px 30px;
  padding: 15px 15px 15px 15px;
  background-color: #faf9f6;
}

.belll {
  margin: 20px 0px 0px 500px;
  font-size: 20px;
}

.bar-sett-bell h3 {
  margin: 15px 0px 0px 500px;
}

.profile-div {
  background-color: #faf9f6;
}

.businessz {
  width: 800px;
  margin: 50px 0px 0px 230px;
}

.edit {
  width: 500px;
  margin: 60px 0px 0px 250px;
}

.Alog {
  margin: 40px 0px 0px 270px;
}

.inp-1 {
  display: flex;
  flex-direction: column;
  margin: 20px 0px 10px 250px;
}

.inp-1 input[type=text] {
  width: 750px;
  padding: 10px 5px 10px 5px;
  border-radius: 15px;
  border: 1px solid gray;
}

.inp-1 input[type=file] {
  margin: 10px 0px 10px 0px;
}

.registered {
  width: 400px;
  margin: 20px 0px 0px 240px;
}

.canc-save {
  margin: 20px 0px 50px 250px;

}

#canc {
  width: 200px;
  border-radius: 25px;
  border: 1px solid #355E3B;
  padding: 10px 5px 10px 5px;
}


#save {
  width: 200px;
  border-radius: 25px;
  background-color: #355E3B;
  border: none;
  padding: 10px 5px 10px 5px;
  margin: 0px 0px 0px 20px;
}

.inp-2 {
  width: 515px;
  padding: 7px 0px 7px 10px;
  border-radius: 10px;
  border: 1px solid gray;
  margin: 5px 0px 10px 0px;
}


.fff{
  margin: 20px 100px 0px 0px;
  padding-left: 30px;
  padding-top: 30px;
  border-radius: 20px;
	box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 800px) {

  /* NAVBAR */
  .nav-us {
    display: none;
  }

  .navbar {
    display: flex;
    width: 100%;
  }

  .dashboard-div {
    padding: 0px 0px 0px 0px;

  }

  .wass {
    display: flex;
    margin: 20px 0px 0px 10px;
    width: 100%;
  }

  .wass img {
    margin: 0px 0px 0px 5px;
  }

  .wass h1 {
    margin: 10px 0px 0px 20px;
    width: 300px;
  }

  .notification {
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    margin: 10px 20px 0px 50px;
    background-color: #faf9f6;

  }

  .balance {
    margin: 0px 0px 0px 0px;
    width: 400px;
  }

  .stats {
    margin: 0px 0px 20px 20px;
  }

  .total-employee {
    margin: 0px 0px 0px 20px;
    width: 370px;
  }

  .total-employee a {
    margin: 0px 0px 0px 20px;
  }

  .quick {
    margin: 40px 0px 0px 20px;

  }

  .logoo {
    margin: 3px 0px 0px 30px;
    width: 100px;

  }

  #navbarSupportedContent {
    display: none;

  }

  #navbarSupportedContent ul {
    display: flex;
  }


  #navbarSupportedContentMobile {
    display: block;
  }

  #navbarSupportedContentMobile ul {
    position: absolute;
    top: 0;
    left: 0px;
    background-color: #1877F2;
    z-index: 90;
    width: 80%;
    height: 100vh;
    padding: 50px 0px 20px 0px;
    display: flex;
    flex-direction: column;
  }


  #navbarSupportedContentMobile li {
    margin: 20px 0px 20px 50px;
    list-style-type: none;
    width: fit-content;
  }

  #navbarSupportedContentMobile a {
    font-size: 20px;
    text-decoration: none;
    color: #FFFFFF;


  }

  .zaracho {
    display: block;
    font-size: 60px;
    z-index: 99;
  }


  .ovrl {
    display: none;
  }

  .logooo {
    display: none;
  }



  .employeecount {
    width: 350px;
    margin: 0px 0px 0px 20px;
  }

  .Tab {
    width: 350px;
    margin: 0px 0px 0px 10px;
  }

  .eazi {
    width: 380px;
    margin: 0px 0px 30px 0px;
  }

  .employeelist {
    width: 360px;
    margin: -60px 0px 0px 15px;
  }


  .searchh {
    margin: 0px 0px 100px 20px;
    display: flex;
  }

  .searchh input {
    width: 300px;
    padding: 2px 0px 2px 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid gray;
  }

  ::placeholder {
    color: gray;
  }

  .searchh button {
    padding: 2px 0px 2px 0px;
    width: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: 1px solid gray;
    background-color: white;
    margin: 0px 0px 0px -50px;
    border-left: none;
  }

  #filter-btn {
    margin: 0px 0px 0px 20px;
    border-radius: 10px;

  }

  .magnify {
    width: 50px;
  }

  .mobile {
    display: block;
  }



  .bar-sett-bell {
    display: flex;
    width: 100%;
    padding: 5px 0px 10px 0px;
  }

  .bar {
    margin: 10px 0px 0px 30px;
    padding: 15px 15px 15px 10px;
    background-color: #faf9f6;
  }

  .belll {
    margin: 20px 0px 0px 80px;
    font-size: 20px;
  }

  .bar-sett-bell h3 {
    margin: 15px 0px 0px 50px;
  }

  .profile-div {
    background-color: #faf9f6;
  }

  .businessz {
    width: 350px;
    margin: 50px 0px 0px 10px;
  }

  .edit {
    width: 350px;
    margin: 60px 0px 0px 20px;
  }

  .Alog {
    margin: 40px 0px 0px 25px;
  }

  .inp-1 {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 10px 25px;
  }

  .inp-1 input[type=text] {
    width: 330px;
    padding: 10px 5px 10px 5px;
    border-radius: 15px;
    border: 1px solid gray;
  }

  .inp-1 input[type=file] {
    margin: 10px 0px 10px 0px;
  }

  .registered {
    width: 355px;
    margin: 20px 0px 0px 20px;
  }

  .canc-save {
    margin: 40px 0px 50px 15px;

  }

  #canc {
    width: 160px;
    border-radius: 25px;
    border: 1px solid #355E3B;
    padding: 10px 5px 10px 5px;
  }


  #save {
    width: 160px;
    border-radius: 25px;
    background-color: #355E3B;
    border: none;
    padding: 10px 5px 10px 5px;
    margin: 0px 0px 0px 20px;
  }

  .download {
    margin: 160px 0px 0px 0px;
    width: 100%;
  }
  
  .welcome {
   display: none;
  }
  
  .run-welcome {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .individuals {
    display: none;
  }
  
  .how {
    margin: 50px 0px 0px 0px;
    width: 100%;
  }
  
  .howw {
    margin: 50px 0px 0px 50px;
    width: 300px;
  }
  
  .free {
    display: none;
  }
  
  .dot-get-first {
    display: flex;
    flex-direction: column;
    margin: 80px 0px 0px 0px;
  }
  
  .dot {
    width: 200px;
    height: 200px;
  }
  
  
  .get {
    width: 300px;
    height: 150px;
    margin: 100px 0px 0px 80px;
  }

  .thing{
    width: 100%;
    margin: 0px 0px 0px 0px;
  }

  .first{
    width: 100%;
    margin: 0px 0px 0px 0px;
  }
  
  #inp-3{
    width: 250px;
    padding: 7px 0px 7px 10px;
    border-radius: 20px;
    margin: 20px 0px 40px 0px;
    background-color: #355E3B;
  }
  
  .imaap{
    width: 20px;
    height: 20px;
    margin: 30px 15px 10px 5px;
  }
  
  .imade{
    width: 20px;
    height:20px;
  }
  
  .first-conti{
    display: flex;
    flex-direction: column;
    border-top: 1px solid #E5E4E2;
    padding: 80px 0px 60px 0px;
    margin-top: 100px;
  
  }
  
  .first-conti h6{
    color: #818589;
    margin: 20px 0px 0px 0px ;
  }
  
  .first-conti h2{
    font-size: 18px;
  }
  
  .first-first-conti{
    margin: 0px 0px 0px 170px;
  }
  
  
  
  .second-first-conti{
    margin: 0px 0px 0px 100px;
  }
  
  .third-first-conti{
    margin: 0px 0px 0px 80px;
  }
  
  
  .fourth-first-conti{
    margin: 0px 0px 0px 30px;
  }
  
  
  .fifth-first-conti{
    margin: 0px 0px 0px 50px;
  }
  
  .inp-4{
    margin: 30px 0px 0px 3px;
    background-color: #E5E4E2;
    border: none;
    padding:5px 0px 5px 0px;
    width: 250px;
  }
  
  .teleg{
    margin: 0px 0px 0px -20px;
    border: none;
  }

  .fff{
    margin: 100px 0px 0px 30px;
    width: 330px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    border-radius: 20px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  }

  .inp-2{
    width: 260px;
    padding: 7px 0px 7px 10px;
    border-radius: 10px;
    border: 1px solid gray;
    margin: 5px 0px 10px 0px;
  }
  
  
}